*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
:root{
    --font1: "Open Sans";
    --font2: "Roboto";
}
.navbar{
    border-bottom: 2px solid gainsboro;
}
.navbar-brand{
    font-size: 1.5em;
    font-family: var(--font2);
}
.navbar-nav .nav-item {
    margin: 0 15px; /* Adjust margin as needed */
}
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.dropdown-menu {
    text-align: center !important; 
}
.btn{
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
}
.btn:hover {
    background-color: #28a745;
    color: #fff;
}
.hero {
    text-align: center;
    padding: 50px;
}
.typedText{
    color: #333333;
}
.categories {
    padding: 40px 20px;
    /* background-color: #f8f9fa; */
    text-align: center;
}

.categories h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: var(--font2);
}

.category-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-item {
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: var(--font1);
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-item::after {
    content: attr(data-category);
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.featured-products {
    padding: 40px 20px;
    text-align: center;
}

.featured-products h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
.loader{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product-item p {
    margin: 10px 0;
    color: #333;
    font-family: var(--font1);
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}